.nav-div{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  transition: top 0.3s;
  position: fixed;
  /* background-color: grey; */
  width: 100vw;
  z-index: 4;
  color: #cbc7b7;
  font-family: 'Arial';
  font-size: small;
  /* border-bottom: 3px solid black; */
}
.EAC:hover {
  color: #ffc300;
}
.About:hover {
  color: black;
}
 
.options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2em;
  font-weight: lighter; 
  width: 35%;
}
.NavMage{
  display: flex;
  margin-left: 3.5em;
  margin-top: 0.7em;
}

.Links {
  text-decoration: none;
}

.Scheduler:hover {
  color: #10ac84;
}
.WikiMaps:hover {
  color: #EF6461;
}

.eacPos{
  color:#ffc300
}
.navPos1{
  display: flex;
  margin-left: 3.5em;
  margin-top: 0.7em;
  border: 1px #ffc300 solid
}
.navPos2{
  display: flex;
  margin-left: 3.5em;
  margin-top: 0.7em;
  border: 1px #10ac84 solid
}